GOOGLE_MAPS_API_KEY=
GOOGLE_GEOCODING_API_KEY=
GOOGLE_TIMEZONE_API_KEY=
GCP_PROJECT=
GOOGLE_APPLICATION_CREDENTIALS=
GEO_MONITORING_FILTER=
APP_TIME_ZONE=

# Telegram bot
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

# Deploy script (script/deploy)
APP_DIR=
APP_USER=
RVM_SCRIPT=
GITHUB_REPO=
BRANCH=
SERVICE=
HEALTHCHECK_URL=
